/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: Onassis - Free Bootstrap 3 Theme
 * Version: 1.0
 * URL: http://blacktie.co
 */

body {
  background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #f85c37;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url(../img/header-bg.jpg) no-repeat center top;
	margin-top: -10px;
	padding-top:20px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	margin-top: 130px;
	color: white;
	font-size: 140px;
	font-weight: 700;
	letter-spacing: 3px;
}

#headerwrap h2 {
	color: white;
	font-size: 50px;
	font-weight: 100;
	letter-spacing: 2px;
}

/* Portfolio Wrap */
#portfoliowrap {
	background: url(../img/portfolio-bg.jpg) no-repeat center top;
	margin-top: 0px;
	padding-top:70px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#portfoliowrap h3 {
	color: #ffffff;
}

.port-space {
	padding-bottom: 20px;
}


/* White Wrap */

#w {
	background: #ffffff;
	padding-top: 35px;
	padding-bottom: 35px;
	text-align: center;
}

#w h3 {
	font-weight: 700;
	color: #7b7b7b;
	letter-spacing: 1px;
}

#w bold {
	color: #2f2f2f;
}


/* Grey Wrap */

#g {
	background: #f2f2f2;
	padding-top: 35px;
	padding-bottom: 35px;
	text-align: center;
}

/* Dark Grey Wrap */
#dg {
	background: #e0e0e0;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}

/* Footer Wrap */

#f {
	background: #2f2f2f;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center
}

#f h3 {
	color: white;	
}

#f i {
	font-size: 26px;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}

/* Copyright Wrap */

#c {
	background: #222222;
	padding-top: 15px;
	text-align: right;
}

#c p {
	color: white
}


/* item Wrap */

#itemwrap {
	background: url(../img/item-bg.jpg) no-repeat center top;
	margin-top: 0px;
	padding-top:70px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#itemwrap h1 {
	margin-top: 40px;
	color: white;
	font-size: 100px;
	font-weight: 700;
	letter-spacing: 3px;
}

#itemwrap h2 {
	color: white;
	font-size: 50px;
	font-weight: 100;
	letter-spacing: 2px;
}


.desc {
	text-align: left;
}

.desc-b {
	border-left: 4px solid #bababa;
}

.desc-a i {
	color: #555;
	padding-right: 8px;
}

.desc-b i {
	color: #555;
	padding-right: 8px;
}



/* MENU CONF*/

.menu {
	position: fixed;
	right: -200px;
	width: 260px;
	height: 100%;
	top: 0;
	z-index: 10;
	text-align: left;
}

.menu.menu-open {
	right: 0px;
}

.menu-wrap {
	position: absolute;
	top: 0;
	left: 60px;
	background: #1a1a1a;
	width: 200px;
	height: 100%;
}

.menu h1.logo a {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 800;
	letter-spacing: 0.15em;
	line-height: 40px;
	text-transform: uppercase;
	color: #ffffff;
	margin-top: 20px;
}

.menu h1.logo a:hover {
	color: #f85c37;
}

.menu img.logo {
	margin: 20px 0;
	max-width: 160px;
}

.menu a {
	margin-left: 20px;
	color: #808080;
	display: block;
	font-size: 12px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.menu a:hover {
	color: #ffffff;
}

.menu a:active {
	color: #ffffff;
}

.menu a > i {
	float: left;
	display: inline-block;
	vertical-align: middle; 
	text-align: left;
	width: 25px;
	font-size: 14px;
	line-height: 40px;
	margin: 25px 2px;
}

.menu-close {
	cursor: pointer;
	display: block;
	position: absolute;
	font-size: 14px;
	color: #808080;
	width: 40px;
	height: 40px;
	line-height: 40px;
	top: 20px;
	right: 5px;
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

.menu-close:hover {
	color: #ffffff;
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

/* Push the body after clicking the menu button */
.body-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.body-push-toright {
	left: 200px;
}

.body-push-toleft {
	left: -200px;
}

.menu,
.body-push {
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		 -o-transition: all .3s ease;
			transition: all .3s ease;
}

#menuToggle {
	position: absolute;
	top: 20px;
	left: 0;
	z-index: 11;
	display: block;
	text-align: center;
	font-size: 14px;
	color: #ffffff;
	width: 40px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	background: rgba(0,0,0,0.25);
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

#menuToggle:hover {
	color: #ffffff;
	background: rgba(0,0,0,0.2);
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}


/* BUTTON CONF */

.btn-theme {
	color: #fff;
	background-color: #1abc9c;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-top: 10px;
	font-weight: 700;
	border-radius: 3px;
}

.btn-theme:hover {
	cursor: pointer;
	color: white;
	background-color: #16a085;
	
}

/* TEAM CONF */

.team {
	padding-top: 20px;
}

.team:hover {
	background: white;
}

.team a {
	padding-right: 10px;
	padding-left: 10px;
}
.text-shadow {
text-shadow: 0 1px 1px rgba(0,0,0,.5);
}
.uppercase {
    text-transform: uppercase!important;
}

.heading {
font-family: brandon-grotesque,sans-serif!important;
}

.navbar{
    
}
.navbar-brand{
    float: left;
    display: block;
    height: 1px;
    padding:0;
    z-index: 1500;
}

@media (min-width: 768px)
{
    .navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 20px;
    }
    #textBrand{
        display:none;
    }
}
@media (max-width: 991px)
{
    .navbar-brand img{
        display:none;
    }
    #textBrand{
        display:block;
        padding-left:10px;
    }
    #headerwrap h1 {
        font-size:42px;
    }
    #headerwrap h2 {
        font-size:36px;
    }
}

#slide-2 {
/*background-color: #1abc9c;
color: #e4e6e5;*/
padding-top: 90px;
}

.slide {
background-position: center center;
background-repeat: no-repeat;
padding-bottom: 65px;
padding-top: 50px;
text-align: center;
}

.title-row {
font-size: 45px;
padding-bottom: 30px;
}

.font-thin {
font-family: "Titillium Web", sans-serif;
font-weight: 200;
}

.font-semibold {
font-family: "Titillium Web", sans-serif;
font-weight: 600;
}

.subtitle-row {
font-size: 35px;
padding-bottom: 40px;
padding-top: 40px;
}

.line-row .hr {
background-color: #e4e6e5;
height: 5px;
margin: 0 auto;
width: 33%;
}
.content-row {
padding-top: 45px;
}
.about{
    padding:30px 0;
}
.home-hover {
    overflow: hidden;
    padding-top: 26px;
    height:120px;
    transition: all ease-in .5s;
}
.home-hover{
cursor: pointer;
}
.home-hover:hover {
    padding-top: 0;
 }
 
 .sign-up-bar {
position: absolute;
bottom: 0;
left: 0;
right: 0;

padding-top: 30px;
padding-bottom: 23px;
/*margin-left: -1px;
margin-right: -1px;*/
/*background-color: rgba(0,0,0,0.85);
background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
background-image: -webkit-linear-gradient(left,rgba(153,93,179,0.6),rgba(44,155,219,0.6));
background-image: -moz-linear-gradient(left,rgba(153,93,179,0.6),rgba(44,155,219,0.6));
background-image: -o-linear-gradient(left,rgba(153,93,179,0.6),rgba(44,155,219,0.6));
background-image: linear-gradient(to right,rgba(153,93,179,0.6),rgba(44,155,219,0.6));*/
-webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1),0px 1px 0 0 rgba(0,0,0,0.1);
-moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1),0px 1px 0 0 rgba(0,0,0,0.1);
box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1),0px 1px 0 0 rgba(0,0,0,0.1);
background-color: rgba(0, 0, 0, 0.5)

 }
 
 .sign-up-bar h3 {
text-align: left;
color: rgba(255,255,255,0.9);
}


.sign-up-form {
padding-top: 10px;
}

.sign-up-form .float-label {
display: block;
position: absolute;
z-index: 1;
pointer-events: none;
left: 14px;
top: 7px;
-webkit-opacity: 0;
-moz-opacity: 0;
opacity: 0;
font-size: 11px;
font-family: Arial,sans-serif;
text-transform: uppercase;
display: none;
}

.sign-up-form input {
position: relative;
z-index: 2;
display: inline-block;
width: 100%;
margin: 5px 0;
outline: 0;
-webkit-border-radius: 0;
-webkit-background-clip: padding-box;
-moz-border-radius: 0;
-moz-background-clip: padding;
border-radius: 0;
background-clip: padding-box;
-webkit-transition: border-color 150ms ease-in-out,-webkit-box-shadow 150ms ease-in-out,top 150ms ease-in-out;
-moz-transition: border-color 150ms ease-in-out,-moz-box-shadow 150ms ease-in-out,top 150ms ease-in-out;
-o-transition: border-color 150ms ease-in-out,box-shadow 150ms ease-in-out,top 150ms ease-in-out;
transition: border-color 150ms ease-in-out,box-shadow 150ms ease-in-out,top 150ms ease-in-out;
}
.sign-up-form input.button {
padding: 15px 10px 13px;
background-color: #5cb85c;

border: 1px solid rgba(0,0,0,0.15);
color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
text-transform: uppercase;
font-size: 16px;
-webkit-transition: all .25s ease;
-moz-transition: all .25s ease;
-o-transition: all .25s ease;
transition: all .25s ease;
-webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.07),inset 0 1px 0 0 rgba(255,255,255,0.14),0px 0 1px 0 rgba(0,0,0,0.05);
-moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.07),inset 0 1px 0 0 rgba(255,255,255,0.14),0px 0 1px 0 rgba(0,0,0,0.05);
box-shadow: inset 0 0 0 1px rgba(255,255,255,0.07),inset 0 1px 0 0 rgba(255,255,255,0.14),0px 0 1px 0 rgba(0,0,0,0.05);
-webkit-border-radius: 2px;
-webkit-background-clip: padding-box;
-moz-border-radius: 2px;
-moz-background-clip: padding;
border-radius: 2px;
background-clip: padding-box;
}
.sign-up-form input.text {
position: relative;
padding: 14px 12px;
font-size: 16px;
line-height: 20px;
color: #e9e9f5;
font-weight: 400;
border: 1px solid rgba(0,0,0,0.5);
background-color: rgba(0,0,0,0.25);
-webkit-box-shadow: inset 0 3px 3px -2px rgba(0,0,0,0.25),0px 0 0 1px rgba(255,255,255,0.12),0px 0 3px 0 rgba(255,255,255,0);
-moz-box-shadow: inset 0 3px 3px -2px rgba(0,0,0,0.25),0px 0 0 1px rgba(255,255,255,0.12),0px 0 3px 0 rgba(255,255,255,0);
box-shadow: inset 0 3px 3px -2px rgba(0,0,0,0.25),0px 0 0 1px rgba(255,255,255,0.12),0px 0 3px 0 rgba(255,255,255,0);
}
.sign-up-terms {
padding: 10px 0 0 0;
text-align: center;
color: rgba(255,255,255,0.6);
}

@media (min-width: 1230px)
{
.sign-up-terms {
padding-left: 0;
padding-right: 0;
}
}
@media (min-width: 992px)
{
.sign-up-terms {
padding: 4px 15px 0;
}
}

@media (min-width: 768px){
.sign-up-terms {
padding: 6px 0 0 0;
font-size: 11px;
color: #86b2dc;
}
}


.header-nav li a {
padding: 5px 15px 7px;
margin-top:20px;
-webkit-transition: color 250ms ease;
-moz-transition: color 250ms ease;
-o-transition: color 250ms ease;
transition: color 250ms ease;
}

.header-nav a.sign-up:hover {
    background: #5cb85c !important;
    color: white !important;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.15);

} 
.header-nav a.sign-up {
background-color: rgba(51,167,225,0);

-webkit-box-shadow: inset 0 0 0 1px rgba(92, 184, 92, 0.7),inset 0 1px 0 0 rgba(92, 184, 92, 0.7),0px 0 1px 0 rgba(0,0,0,0.05);
-moz-box-shadow: inset 0 0 0 1px rgba(92, 184, 92, 0.7),inset 0 1px 0 0 rgba(92, 184, 92, 0.7),0px 0 1px 0 rgba(0,0,0,0.05);
box-shadow: inset 0 0 0 1px rgba(92, 184, 92, 0.7),inset 0 1px 0 0 rgba(92, 184, 92, 0.7),0px 0 1px 0 rgba(0,0,0,0.05);
-webkit-border-radius: 2px;

-moz-border-radius: 2px;

border-radius: 2px;

-webkit-transition: background-color 250ms ease,color 250ms ease;
-moz-transition: background-color 250ms ease,color 250ms ease;
-o-transition: background-color 250ms ease,color 250ms ease;
transition: background-color 250ms ease,color 250ms ease;
}

@media (max-width: 991px){
    .content-row div{
        margin-bottom: 70px;
    }
    .content-row div:last-child{
        margin-bottom: 0px;
    }
    .content-row div:nth-child(3){
        margin-bottom: 0px;
    }
    
}

@media (max-width: 768px){

    .content-row div:last-child{
        margin-bottom: 0px;
    }
    .content-row div{
        margin-bottom: 70px;
    }
    .content-row div:nth-child(3){
        margin-bottom: 70px;
    }
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -150px;
  /* Pad bottom by footer height */
  padding: 0 0 150px;
   /*background: -webkit-linear-gradient(bottom,rgba(43,55,71,0.38),rgba(43,55,71,0.15) 50%,transparent 95%),-webkit-radial-gradient(center top,circle cover,rgba(255,255,255,0.22),transparent 50%),url('../img/graySpeckles.png') #eef0f2;*/
}

/* Set the fixed height of the footer here */
#footer {
  padding-top:20px;
  min-height: 150px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
/* adjust wrapper height in the padding here */
#wrap > .container {
  padding: 60px 15px 60px 15px;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
  background-color:black;
}

code {
  font-size: 80%;
}


#footer, #header{
    background-color:black;
}
    #footer h4{
        text-align: center;
        margin-bottom: 5px;
        font-family: 'Open Sans',sans-serif;
        font-weight: 700;
        text-transform: uppercase;
    }
    #footer h4, #footer p, #footer a{
        color: #b1b1b1;
    }
    #footer a:hover{
        color: #e2a212;
    }
    
    #footer ul{
        list-style: square inside!important;
        color: #e3a412!important;
        padding: 0px;
    }
    @media (min-width: 768px) {
        #footer ul{
            padding-left:0px;
        }
    }
    @media (min-width: 992px) {
        #footer ul{
            padding-left:18px;
        }
    }
    @media (min-width: 1200px) {
        #footer ul{
            padding-left:40px;
        }
    }

    #footer ul li {
        display: list-item!important;
        padding: 9px 0;
        border-top: 1px solid #38383a;
    }
    #footer ul li:first-child {
        border-top: 0;
    }
    #footer img.phone-img{
        vertical-align: top;
    }
    #footer div.phone-num{
        font-family: 'Open Sans',sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        font-size:24px;
        color: #8C8C8C;
        text-align:center;
        line-height: 1.1;
    }
    #footer .number{
        display:inline-block; 
        text-align:left;
    }
    #footer .num-orange{
        color: #e3a412;
        font-size: 20px;
    }
    #footer .copyright{
        text-align:right;
        padding:5px;
    }


#header a {
    color: #e2a212;
}

#header li.active a, .btn-orange {
    color: white;
    background: #ebbe16;
    background: -moz-linear-gradient(top,#ebbe16 0,#dd9210 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ebbe16),color-stop(100%,#dd9210));
    background: -webkit-linear-gradient(top,#ebbe16 0,#dd9210 100%);
    background: -o-linear-gradient(top,#ebbe16 0,#dd9210 100%);
    background: -ms-linear-gradient(top,#ebbe16 0,#dd9210 100%);
    background: linear-gradient(to bottom,#ebbe16 0,#dd9210 100%);
    font-family: 'Open Sans',sans-serif;
    text-shadow: 0 1px #cc9611;

}

#header li a:active {
    color: white;
    background: #ebbe16;
    background: -moz-linear-gradient(top,#ebbe16 0,#dd9210 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ebbe16),color-stop(100%,#dd9210));
    background: -webkit-linear-gradient(top,#ebbe16 0,#dd9210 100%);
    background: -o-linear-gradient(top,#ebbe16 0,#dd9210 100%);
    background: -ms-linear-gradient(top,#ebbe16 0,#dd9210 100%);
    background: linear-gradient(to bottom,#ebbe16 0,#dd9210 100%);
    font-family: 'Open Sans',sans-serif;
    text-shadow: 0 1px #cc9611;
}

#header li a:hover{
    color: white;
    background: #ebbe16;
    background: -moz-linear-gradient(top,#ebbe16 0,#dd9210 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ebbe16),color-stop(100%,#dd9210));
    background: -webkit-linear-gradient(top,#ebbe16 0,#dd9210 100%);
    background: -o-linear-gradient(top,#ebbe16 0,#dd9210 100%);
    background: -ms-linear-gradient(top,#ebbe16 0,#dd9210 100%);
    background: linear-gradient(to bottom,#ebbe16 0,#dd9210 100%);
    text-shadow: 0 1px #cc9611;
}

    .sales-line{
        position:relative;
        left:-5px;
        color:red;
    }
    
    #page-header{
        margin: 40px 0 55px;
    }
    
    .page-header h1{
        font-family: georgia,serif;
        font-size: 48px;
        color: black;
    }
    
    .logo_small {
        font-family: 'Arimo',sans-serif;
        font-weight: 400;
        font-size: 12px;
        text-transform: uppercase;
        color: #b3b3b3;
        position: relative;
    }
    .logo-small-last{
        margin-left:185px;margin-top:-5px
    }


.wsb-media-carousel{
    text-align:center;
    float:none; 
    margin:auto;
}

.wsb-media-carousel .wsb-media-carousel-wrapper img {
    position: relative;
    opacity:.5;
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    -webkit-transform: translateZ(0px);
}

.wsb-media-carousel-wrapper {
    height: 150px; 
    margin:2px 0;
    width: 148px; 
    display: inline-block; 
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    overflow: hidden;
}

.wsb-media-carousel-wrapper img {
    width: 150px;
    top: -29.7;
}
.wsb-media-carousel-wrapper img:hover {
    opacity:1;
}



#main-search {
    border: 1px solid #ccc;
    min-height: 220px;
    border-radius: 7px;
    padding: 5px;
    padding-bottom: 20px;
    background: url('../img/graySpeckles.png') #eef0f2;
    background: -webkit-linear-gradient(bottom,rgba(43, 55, 71, 0),rgba(43, 55, 71, 0) 50%,transparent 95%),-webkit-radial-gradient(center top,circle cover,rgba(255,255,255,0.22),transparent 50%),url('../img/graySpeckles.png') #eef0f2;
    background: -moz-linear-gradient(bottom,rgba(43,55,71, 0),rgba(43,55,71, 0) 50%,transparent 95%),-moz-radial-gradient(center top,circle cover,rgba(255,255,255,0.22),transparent 50%),url('../img/graySpeckles.png') #eef0f2;
    background: -o-linear-gradient(bottom,rgba(43,55,71, 0),rgba(43,55,71, 0) 50%,transparent 95%),-o-radial-gradient(center top,circle cover,rgba(255,255,255,0.22),transparent 50%),url('../img/graySpeckles.png') #eef0f2;
    background: linear-gradient(bottom,rgba(43,55,71, 0),rgba(43,55,71, 0) 50%,transparent 95%),radial-gradient(center top,circle cover,rgba(255,255,255,0.22),transparent 50%),url('../img/graySpeckles.png') #eef0f2;
}
    #main-search label {
        padding-right:0;
    }

@media (min-width: 1200px) { 
    #main-search{
        margin-right:20px;
    }
}

legend{
    padding: 5px;
    margin:auto;
    width:95%;
	margin-bottom:0;
        border-bottom: 1px solid #ccc;
}


.form-group label{
    text-align: right;
    padding-left:0;
}


/*used to turn off responsive*/
.min-desktop{
    min-width:758px;
}

#outPopUp{
     position:absolute;
     width:500px;
     z-index:15;
     top:47%;
     left:50%;
     margin:-100px 0 0 -250px;
}

.nav-list{

color:#9DBECE;
font-weight:bold;
margin:10px 0;

}

.dashboard{
    padding:10px;
    font-size:20px;
    color:#fff;
font-weight:bold;
margin:10px auto;
}
 .nav-list li {
line-height: 32px;
padding:5px 5px 5px 10px;
margin-left:10px;
border:1px solid transparent;
}

.nav-list li.active, .dashboard {
border: 1px solid #404040;
background-color:#2B2B2B;
}

.nav-list li:hover{
border: 1px solid #404040;
background-color:#2B2B2B;
cursor:pointer;
}

.nav.nav-list > li > a {
position: relative;
display: block;
color:#9DBECE;
font-weight:bold;
padding: 0;
}

.nav.nav-list > li > a:hover {

background-color:#2B2B2B;
cursor:pointer;
padding: 0;

}

.dashboard a{
    color:#fff;
}
.dashboard a:hover{
    color:#9DBECE;
}

.error li{
    list-style-type: none;
    color: red;
    text-align: right;
    font-size: 20px;
}

.login .error li{
    text-align:center;
}

a.user{
    line-height: 30px !important;
}

.header-nav{
    margin-top: 5px;
}

ol.vertical {
margin: 0 0 9px 0;
}

ol.vertical li {
display: block;
margin: 5px;
padding: 5px;
border: 1px solid #cccccc;
color: #0088cc;
background: #eeeeee;
}
ol li.highlight {
background: #333333;
color: #999999;
}
ol.nested_with_switch li, ol.simple_with_animation li, ol.default li {
cursor: pointer;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}


/* line 1, jquery-sortable.css.sass */
body.dragging, body.dragging * {
  cursor: move !important; }

/* line 4, jquery-sortable.css.sass */
.dragged {
  position: absolute;
  top: 0;
  opacity: 0.5;
  z-index: 2000; }

/* line 10, jquery-sortable.css.sass */
ol.vertical {
  margin: 0 0 9px 0; }
  /* line 12, jquery-sortable.css.sass */
  ol.vertical li {
    display: block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
    color: #0088cc;
    background: #eeeeee; }
  /* line 19, jquery-sortable.css.sass */
  ol.vertical li.placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    border: none; }
    /* line 24, jquery-sortable.css.sass */
    ol.vertical li.placeholder:before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      margin-top: -5px;
      left: -5px;
      top: -4px;
      border: 5px solid transparent;
      border-left-color: red;
      border-right: none; }

/* line 32, application.css.sass */
ol {
  list-style-type: none; }
  /* line 34, application.css.sass */
  ol i.icon-move {
    cursor: pointer; }
  /* line 36, application.css.sass */
  ol li.highlight {
    background: #333333;
    color: #999999; }
    /* line 39, application.css.sass */
    ol li.highlight i.icon-move {
      background-image: url("../img/glyphicons-halflings-white.png"); }

/* line 42, application.css.sass */
ol.nested_with_switch, ol.nested_with_switch ol {
  border: 1px solid #eeeeee; }
  /* line 44, application.css.sass */
  ol.nested_with_switch.active, ol.nested_with_switch ol.active {
    border: 1px solid #333333; }

/* line 48, application.css.sass */
ol.nested_with_switch li, ol.simple_with_animation li, ol.default li {
  cursor: pointer; }

/* line 51, application.css.sass */
.switch-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px; }

/* line 57, application.css.sass */
.navbar-sort-container {
  height: 200px; }

/* line 61, application.css.sass */
ol.nav li, ol.nav li a {
  cursor: pointer; }
/* line 63, application.css.sass */
ol.nav .divider-vertical {
  cursor: default; }
/* line 66, application.css.sass */
ol.nav li.dragged {
  background-color: #2c2c2c; }
/* line 68, application.css.sass */
ol.nav li.placeholder {
  position: relative; }
  /* line 70, application.css.sass */
  ol.nav li.placeholder:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: red;
    top: -6px;
    margin-left: -5px;
    border-bottom: none; }
/* line 81, application.css.sass */
ol.nav ol.dropdown-menu li.placeholder:before {
  border: 5px solid transparent;
  border-left-color: red;
  margin-top: -5px;
  margin-left: none;
  top: 0;
  left: 10px;
  border-right: none; }

/* line 91, application.css.sass */
.sorted_table tr {
  cursor: pointer; }
/* line 93, application.css.sass */
.sorted_table tr.placeholder {
  display: block;
  background: red;
  position: relative;
  margin: 0;
  padding: 0;
  border: none; }
  /* line 100, application.css.sass */
  .sorted_table tr.placeholder:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: red;
    margin-top: -5px;
    left: -5px;
    border-right: none; }
  
  